#   ----------------------------------------
#   1.  COMMON ALIASES
#   ----------------------------------------

alias cp='cp -iv'                           # Preferred 'cp' implementation
alias mv='mv -iv'                           # Preferred 'mv' implementation
alias lla='ls -alh'							# Preferred 'lla' implementation
alias lll='ls -alh'					    	# Preferred 'lll' implementation
alias mkdir='mkdir -pv'                     # Preferred 'mkdir' implementation
alias less='less -FSRXc'                    # Preferred 'less' implementation
alias ..='cd ../'                           # Go back 1 directory level
alias ...='cd ../../'                       # Go back 2 directory levels
alias .3='cd ../../../'                     # Go back 3 directory levels
# alias c='clear'                             # c:            Clear terminal display
# alias which='type -all'                     # which:        Find executables
# alias findall='type -all'                   # findall:      Find all executables with given name
# alias path='echo -e ${PATH//:/\\n}'         # path:         Echo all executable Paths
# alias fix_stty='stty sane'                  # fix_stty:     Restore terminal settings when screwed up
# alias cic='set completion-ignore-case On'   # cic:          Make tab-completion case-insensitive
alias DT='tee ~/Desktop/terminalOut.txt'    # DT:           Pipe content to file on MacOS Desktop
alias fileCount='ls -1 | wc -l'             # fileCount:    Count number of files in a directory


#   ----------------------------------------
#   2.  SEARCHING
#   ----------------------------------------
alias qfind="find . -name "                 # qfind:    Quickly search for file