# Path to the projects directory
export PATH_TO_PROJECTS="$HOME/Projects"
echo "PATH_TO_PROJECTS = $PATH_TO_PROJECTS"

# Folder location for all of the dotfiles that belong in the home directory
export LOC_HOME_FILES="home"
echo "LOC_HOME_FILES = $LOC_HOME_FILES"

# Export local changes if present
if [ -f "./config/.exports.local" ] ; then
	echo ""
	echo " >> Local exports file found"
	source "./config/.exports.local"
fi